body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #f5f5f5;
    height: auto;
    

}
.container-menu{
    height: 60px;
    background-color: #C39BD3 ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}

.site-title{
    margin: 0;
    padding: 0.36em 0;

}

.section-text{
    margin: 0;
    color: #A569BD ;
    background: white;
    font-weight: bold;
    text-align: center;
}

.col-3{
    width: 33%;
    height: 470px;
    background-color: #C39BD3;
    display: inline-block;
    padding: -16px;
    margin-top: 5px;
    text-align: center;
    border-radius:20px;
}
.container-imagen{
    background-image: url('./bg.png');
    height: 240px;
    background-color: #F5B7B1;
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: first;
    width: 100%
}
footer{
    width: 100%;
    background: rgb(108, 101, 202);
    color: azure;
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
    text-align: center;
}

.column1 p{
    font-size: 14px;
    color: azure;
    margin-top: 20px;
    text-align: justify;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: azure;
}

.column3{
    max-width: 400px;
}

.column3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px; 
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}

.container-footer{
    width: 100%;
    background: rgb(169, 164, 243);

}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.copyright{
    color: blueviolet;
}

.copyright{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .container-body{
        flex-wrap: wrap;
    }

    .column1{
        max-width: 100%;
    }
    .column2,
    .column3{
        margin-top: 40px;
    }
}


