*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    width: 100%;
    background: #aa5cc8;
    color: azure;
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
    text-align: center;
}

.column1 p{
    font-size: 14px;
    color: azure;
    margin-top: 20px;
    text-align: justify;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: azure;
}

.column3{
    max-width: 400px;
}

.column3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px; 
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}

.container-footer{
    width: 100%;
    background: rgb(223, 160, 223);

}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.copyright{
    color: blueviolet;
}

.copyright{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .container-body{
        flex-wrap: wrap;
    }

    .column1{
        max-width: 100%;
    }
    .column2,
    .column3{
        margin-top: 40px;
    }
}


